/* <!--========== Google Fonts ==========--> */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

/* Variables */
:root {
    --header-height: 5rem;

    /* Colors */
    --first-hue: 258;
    --second-hue: 225;
    --first-color: hsl(var(--first-hue), 54%, 48%);
    --title-color: hsl(var(--second-hue), 64%, 18%);
    --text-color: hsl(var(--first-hue), 8%, 35%);
    --border-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--first-hue), 60%, 98%);
    --container-color: #fff;

    /* Fonts & Typography -->  .5rem=8px | 1rem=16px */
    --body-font: 'Jost', sans-serif;
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /* Font Weight */
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsiveness */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;;
}

p {
    line-height: 1.6rem;
    text-align: justify;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;;
}

.section {
    padding: 7rem 0 2rem;
}

.section_subtitle, .section_title {
    text-align: center;
}

.section_title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: 3rem;
}

.section_subtitle {
    display: block;
}

.header {
    width: 100%;
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    transition: 0.4s;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav_link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.4s;
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_close, .nav_toggle {
    color: var(--title-color);
}

.nav_close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav_close, .nav_toggle {
    display: none;
}

/* Active Link */
.nav_link:hover::before,
.nav_link::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    border-radius: 50%;
    transition: 0.4s;
}

.nav_link:hover::before,
.active-link::before {
    width: 30px;
}

.active_link {
    color: var(--first-color);
}

/* Change Background Header */

.scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 15%, 0.1);
}

.scroll-header .nav {
    height: var(--header-height);
}



/* ============ Home =========== */

.home {
    padding: 12.5rem 0 2rem;
}

.home_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.home_subtitle, .home_title {
    font-size: var(--biggest-font-size);
    line-height: 68px;
    font-weight: var(--font-light);
}

.home_subtitle {
    margin-bottom: 0.75rem;
}

.home_title {
    margin-bottom: 2rem;
}

.home_title span {
    font-weight: var(--font-medium);
}

.home_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.home_buttons span {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home_buttons span:nth-child(2) {
    opacity: 0.7;
}

.home_buttons span:nth-child(3) {
    opacity: 0.4;
}

.home_images {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home_group {
    margin-top: 2rem;
    grid-template-columns: 10fr 2fr;
    column-gap: 1.875rem;
}

.home_description {
    font-size: var(--h2-font-size);
    line-height: 36px;
    margin-bottom: 2.5rem;
}

.home_description span {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home_social {
    display: flex;
    align-items: center;
}

.home_social-follow {
    color: var(--title-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    padding-right: 8.175rem;
    position: relative;
}

.home_social-follow::after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 58%;
    width: 100px;
    height: 2px;
    background-color: hsla(var(--second-hue), 64%, 18%, 0.15);
    margin: -1px;
}

.home_social-links {
    display: flex;
    column-gap: 0.5rem;
}

.home_social-link {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0.875rem 0.875rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid hsla(var(--second-hue), 64%, 18%, 0.15);
    background-color: var(--container-color);
    color: var(--title-color);
}

.home_social-link i {
    font-size: var(--h2-font-size);
    text-align: center;
    transition: 0.4s;
}

.home_social-link span {
    display: inline-block;
    font-weight: var(--font-medium);
    white-space: nowrap;
    line-height: 14px;
    transform: translateX(1rem);
    max-width: 0;
    overflow: hidden;
    transition: 0.4s;
}

.home_social-link span::after {
    content: '';
    margin-right: 1rem;
}

.home_social-link:hover i, 
.home_social-link:hover span {
    color: var(--first-color);
}

.home_social-link:hover span {
    max-width: 400px;
}

.experience_img {
    width: 160px;
    justify-self: flex-end;
}

/* Button */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--container-color);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.4s;
}

.button:hover {
    background-color: var(--title-color);
}

/* ========== About ========== */
.about_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.about_img {
    justify-self: center;
}

.about_subtitle, .about_title {
    text-align: left;
}

.about_title {
    margin-bottom: 2rem;
}

.about_description {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 17px;
    margin-bottom: 1.5rem;
}

.about_details {
    margin-bottom: 2.5rem;
}

.about_award {
    margin-top: 0.5rem;
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.award_title {
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem
}

/* ========== Services ========== */

.services_container {
    grid-template-columns: 4.5fr 7.5fr;
    align-items: center;
    column-gap: 6rem;
}

.services_button {
    position: relative;
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 30px;
    padding-right: 1.25rem;
    cursor: pointer;
    transition: 0.4s;
}

.services_tab div:not(:last-child) {
    margin-bottom: 1rem;
}

.services_button::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 100%;
    top: 50%;
    background-color: var(--first-color);
    transition: 0.4s;
}

.services_button.services_active::before,
.services_button:hover::before {
    width: 100px;
}

.services_button.services_active,
.services_button:hover{
    color: var(--first-color);
}

.services_item {
    grid-template-columns: 5fr 7fr;
    column-gap: 1.875rem;
}

.services [data-content] {
    display: none;
}

.services_active[data-content] {
    display: block;
}

.services_title {
    padding-top: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 1.6rem;
    text-align: justify;
}

/* ========== Work ========== */
.work_container {
    column-count: 4;
    column-gap: 1.875rem;
}

.work_content {
    position: relative;
    margin-bottom: 1.5rem;
}

.work_content:hover {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.work_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
}

.work_content:hover .work_overlay {
    opacity: 1;
    border-radius: 0.75rem;
}

.work_overlay-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
    font-size: 2rem;
    color: var(--first-color);
    transform: scale(0);
    transition: 0.4s;
}

.work_content:hover .work_overlay-icon {
    transform: scale(1)
}

/* ========== Project ========== */
.project {
    padding: 6.25rem 0;
    background-image: url("/assets/img/background-cta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 85.1688px;
}

.project_container {
    place-items: center;
}

.project_title {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.project_description {
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

/* ========== Experience ========== */
.qualification_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.timeline_item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
}

.timeline_item:last-child {
    margin-bottom: 0;
}

.timeline_item::before {
    content: '';
    width: 2px;
    height: 60%;
    position: absolute;
    left: 0.459rem;
    top: 0;
    background-color: var(--first-color);
    transition: 0.4s;
}

.timeline_item:hover::before {
    height: 100%;
}

.circle_dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--first-color);
    border-radius: 0.25rem;
    background-color: var(--body-color);
    transform: rotate(134deg);
    transition: 0.4s;
}

.timeline_item:hover .circle_dot {
    background-color: var(--first-color);
}

.timeline_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.timeline_date {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom: 0.5rem;
}

/* ========== Contact ========== */
.contact_container {
    grid-template-columns: 6.5fr 5.5fr;
    column-gap: 3rem;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.contact_form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact_form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(var(--second-hue), 4%, 55%);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact_form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--small-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form-area {
    height: 10.25rem;
}

.contact_form-area textarea {
    resize: none;
}

.contact_info {
    display: grid;
    row-gap: 1.875rem;
}

.contact_card div {
    display: flex;
    column-gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.contact_icon {
    font-size: 1.8rem;
    color: var(--first-color);
    display: inline-block;
    margin-bottom: 0.25rem;
}

.contact_card-title, 
.contact_card-data {
    font-size: var(--normal-font-size);
}

.contact_card-title {
    padding-top: 0.16rem;
    font-weight: var(--font-medium);
}

.contact_card-data {
    display: block;
    margin-bottom: 0.5rem;
}


/* ========== Footer ========== */
.footer {
    background-color: var(--first-color);
}

.footer_container {
    padding: 2rem 0 2rem;
}

.footer_title, .footer_link {
    color: var(--container-color);
}

.footer_title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.footer_link {
    font-size: 18px;
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2.25rem;
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer_social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: 0.48rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer_copy {
    display: block;
    text-align: center;
    margin-top: 4.5rem;
    color: var(--container-color);
    font-size: var(--small-font-size);
}

/* ========== Breakpoints or Responsiveness ========== */
/* For large devices */
@media screen and (max-width: 1200px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .about_award {
        column-gap: 1.875rem;
    }

    .services_container {
        column-gap: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav_logo-img {
        width: 100px;
    }

    .home_container {
        column-gap: 1.25rem;
    }

    /* .home_group {
        grid-template-columns: 9.5rem 2.5rem;
    } */

    .home_title, .home_subtitle {
        line-height: 48px;
    }

    .home_title {
        margin-bottom: 1.5rem;
    }

    .home_description {
        font-size: var(--h3-font-size);
        line-height: 30px;
    }

    .home_social-follow {
        font-size: var(--normal-font-size);
    }

    .home_social-link {
        padding: 0.625rem 0.625rem 0.5rem 0.625rem;
        border-radius: 0.5rem;
    }

    .about_title {
        margin-bottom: 1rem;
    }

    .about_description {
        margin-bottom: 1rem;
        font-size: var(--normal-font-size);
    }

    .award_title {
        font-size: var(--normal-font-size);
    }

    .about_details {
        margin-bottom: 2rem;
    }

    .services_container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .services_button.services_active::before,
    .services_button:hover::before {
        width: 80px;
    }

    .services_title {
        font-size: var(--normal-font-size);
    }

    .work_container {
        column-count: 3;
    }

    .project_title {
        font-size: var(--h2-font-size);
    }

    .project_description {
        font-size: var(--normal-font-size);
        margin-bottom: 1.5rem;
    }

    .timeline_item {
        padding-left: 2.5rem;
        margin-bottom: 2rem;
    }

    .contact_container {
        grid-template-columns: 7.5fr 4.5fr;
        column-gap: 2rem;
    }

    .footer_link {
        font-size: var(--normal-font-size);
    }

    .footer_social-link {
        padding: 0.30rem;
        border-radius: 0.25rem;
        font-size: 1rem
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .section {
        padding: 4.5rem 0 2rem;
    }

    .nav {
        height: var(--header-height);
    }

    .nav_menu {
        position: fixed;
        background-color: var(--container-color);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 4rem 0 0 3rem;
        box-shadow: -2px 0 4px hsla(250, 24%, 15%, 0.1);
    }

    .nav_list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    /* Show Menu */
    .show_menu {
    right: 0;
    }

    .nav_toggle,
    .nav_close {
        display: block;
    }

    .nav_logo-img {
        width: 90px;
    }

    .home {
        padding: 9rem 0 2rem;
    }

    .home_container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .home_images {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .home_img {
        width: 160px;
        order: 2;
    }

    .slide_img {
        width: 225px;
    }

    .home_group {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .experience_img {
        justify-self: flex-start;
    }

    .about_container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about_img {
        width: 250px;
    }

    .services_item {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .services_img {
        width: 350px;
    }

    .project {
        padding: 4.5rem 3rem;
    }

    .qualification_container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .contact_container {
        grid-template-columns: 1fr;
        column-gap: 3rem;
    }

    .contact_info {
        order: -1;
    }
}

@media screen and (max-width: 576px) {
    .home_title {
        line-height: 60px;
        margin-bottom: 1rem;
    }

    .home_subtitle {
        margin-bottom: 0.5rem;
    }

    .home_social {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.2rem;
    }

    .home_social-follow::after {
        display: none;
    }

    .about_award {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .services_img {
        width: 300px;
    }

    .work_container {
        column-count: 2;
    }

    .contact_form-group{
        grid-template-columns: 1fr;
    }

}
    
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home_img {
        width: 140px;
    }

    .slide_img {
        width: 200px;
    }

    .services_button.services_active::before,
    .services_button:hover::before {
        width: 60px;
    }

    .services_button {
        padding-right: 1rem;
    }

    .work_container {
        column-count: 1;
    }


}





